@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
  display: flex;
  font-size: 1.5em;
  font-family: "Google Sans", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.button {
  transition: 1s;
}

.button:active {
  font-size: 5px;
}